.example-spacer {
    flex: 1 1 auto;
}

.imagenLogo{
  width: 30px;
  height: 30px;
}

button{
  background-color: transparent;
  border: none;
  color: white;
}

button:hover{
  cursor: pointer;
}

@media (max-width: 320px) {
  .imagenLogo{
    width: 9vw;
    height: 9vw;
  }
}